body {
    background-color: rgba(255,255,220,0.7) !important;
}

.hide {
    display: none;
}
.panel-info>.panel-heading {
    /* background-color:#3D566E !important; */
}

.leaflet-control-attribution {
    display: none;
}

#header {
    top: 0;
    position: absolute;
    width: 100%;
    height: 50px;
}

.heading-title {
    line-height: 2.5;
}
#map {
    position:absolute;
    left:0%;
    top:0%;
    height: 100%;
    width: 100%
}
.smokeScreen {
    z-index:100000;
    position:absolute;
    left:0%;
    top:0%;
    height: 100%;
    width: 100%;
    font-size: 18px; 
    background-color: rgb(230,230,230);
    opacity: 1;display: table-cell; 
    text-align: center;
}